<div id="wrapper">
  <h1>Mongo Scraper</h1>

  <h2><i>Articles Below</i></h2>

  <div id="articles">
    <ul>
      {{#each articles}}
          {{!-- {{> mongo/mongo-block sleep=true}} --}}
      {{/each}}
    </ul>
  </div>
  <div id="notes">
    {{!-- <label for="notes">Notes:</label>
    <input type="text" id="nots" name="name">
    <button type="submit">Save</button> --}}
  </div>
</div>

